<app-header-comp></app-header-comp>

<div *ngFor="let req of myRequests" align="center" valign="middle">
  <mat-card class="basic-card">
    <mat-card-title> Rent requests {{ req.id }} </mat-card-title>
    <mat-card-content>
      <div class="content">
        <mat-chip-list aria-label="Request details">
          <mat-chip color="primary" selected>
            <div>Request id:</div>

            {{ req.status }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
