mat-card {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 300px;
  padding: 0;
}
h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.header {
  text-align: center;
  margin: 10px;
}

.content {
  padding: 30px;
}

.details {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
