<!--Blue select-->
<div align="center" valign="middle">
  <div>
    <select
      class="mdb-select md-form colorful-select dropdown-primary"
      searchable="Search here.."
    >
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
      <option value="4">Option 4</option>
      <option value="5">Option 5</option>
    </select>

    <label class="mdb-main-label">Example label</label>

    <select class="mdb-select" searchable="Search here..">
      <option value="1" disabled selected>Choose your option</option>
      <option
        value="2"
        data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
        class="rounded-circle"
      >
        example 1</option
      >
      <option
        value="3"
        data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
        class="rounded-circle"
      >
        example 2</option
      >
      <option
        value="4"
        data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
        class="rounded-circle"
      >
        example 1</option
      >
    </select>
  </div>
  <div></div>
  <p>UOPAAAAA</p>
  <div>
    <select
      class="mdb-select md-form colorful-select dropdown-primary"
      multiple
      searchable="Search here.."
    >
      <option value="" disabled selected>Choose your country</option>
      <option value="1">USA</option>
      <option value="2">Germany</option>
      <option value="3">France</option>
      <option value="3">Poland</option>
      <option value="3">Japan</option>
    </select>
    <label class="mdb-main-label">Label example</label>

    <select class="mdb-select" multiple searchable="Search here..">
      <optgroup label="team 1">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </optgroup>
      <optgroup label="team 2">
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
      </optgroup>
    </select>
  </div>
  <button>Search</button>
</div>
