<mat-toolbar color="primary">
  <button mat-button [routerLink]="'/search'">Search</button>
  <!--<button mat-button [routerLink]="'/login'">Login</button>
  <button mat-button [routerLink]="'/register'">Register</button>-->
  <!--<button mat-button [routerLink]="'/cart'">My cart</button>-->
  <button mat-button [routerLink]="'/cars'">Cars</button>
  <!-- <button mat-button [routerLink]="'/profile'">Profile</button> 
  <button mat-button [routerLink]="'/users'">Users</button> -->
  <button mat-button [routerLink]="'/new-car'">New Car</button>
  <button mat-button [routerLink]="'/rentAdvert'">Rent Adverts</button>
  <button mat-button [routerLink]="'/createRentAdvert'">
    Create Rent Advert
  </button>
  <button mat-button [routerLink]="'/createPriceList'">
    Create Price List
  </button>
  <button mat-button [routerLink]="'/acceptRequests'">Accept Requests</button>
</mat-toolbar>
